nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 999;
  top: 0;
}

.active{
  background: linear-gradient(to right, #7117ea, #ea6060);
  box-shadow: 0px 1px 15px 3px rgba(0,0,0,0.3);
}

.logo {
  grid-column: 1/3;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}

.logo a{
  color: white;
  text-decoration: none;
}

.navelem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 4/10;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 1.5px;
  font-size: 1em;
}


.btn{
  grid-column: 11/13;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease-in 200ms 50ms;
  text-decoration: none;
}

.button {
  text-align: center;
  background-color: transparent;
  color: #ea6060;
  width: 78%;
  border: solid 1.5px white;
  padding: 0px 0px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

.button h4 {
  letter-spacing: 1.5px;
  font-weight: 200;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 15px 0;
  opacity: 1;
}

.back{
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: -1;
}

.back h4{
  opacity: 0;
}

.btn:hover{
  transform: translateX(2px);
}

.button:hover{
  background-color: white;
}

.button:hover h4{
  color: #ea6060;
}

.button:hover ~ .back{
  animation: moveInBottom 2s 100ms ease-in-out infinite;
  background-color: white;
}

@keyframes moveInBottom {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  20% {
    transform: scale(1.07);
    opacity: 0.6;
  }

  40% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  68% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }


}

li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: white;
  position: relative;
  cursor: pointer;
}

li  a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all ease 200ms;
}

li  a:hover::after {
  width: 100%;
  left: 0;
}




/* background: #fc00ff; 
background: -webkit-linear-gradient(
  to right,
  #00dbde,
  #fc00ff
);
background: linear-gradient(
  to right,
  #00dbde,
  #fc00ff
);*/

  /* border-radius: 53% 47% 58% 42% / 48% 51% 49% 52%; */