.aboutus{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/images/background/blob-scene-haikei.png');
    background-size: 100%;
    color: #101D27;
    

}
.aboutus h1{
    color: #101D27;
    font-family: 'Robot', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.members{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 10px;
    padding:  25px 20px;
    max-width: 23%;
    height: 90%;
    color: white;
    background:  linear-gradient(to bottom right, #F38485, #ea6060);
    transition: all ease-in 200ms 100ms;
    box-shadow: 0px 3px 15px -6px #000000;
    transform: scale(0.9);
    cursor: pointer;
}

/* background: linear-gradient(to right, #3F3CA2, #EE7E64); */
/* background: linear-gradient(to bottom right, #42e695, #3bb2b8); */
/* background: linear-gradient(to bottom right, #f38181, #fce3ba); */
/* background:  linear-gradient(to top right, #FF6D6D, #FD6F96); */

.member:hover{
    transform: scale(0.92);
}

.member h2{
    display: block;
    text-align: center;
}

.pic{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.pic img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.member p{
    text-align: center;
    display: block;
    width: 60%;
    margin-top: 10px;
}





    /* background-color: #F8F8F9; */
    /* background: linear-gradient(to right, #3F3CA2, #EE7E64); */
    /* padding: 100px 0; */